{% extends 'store/base.html' %}

{% block content %}

{% if orders %}
{% for order in orders %}
<div id="order_list" class="article">
    <h2>{{ order.product.name }}</h2>
    <img src="{{ order.product.thumbnail.url }}" alt="{{ order.product.name }}" style="max-width: 500px;">
    <a href="{% url 'product' order.product.slug %}">
        voir l'article
    </a>  
    <p>
        {{ order.quantity }} dans le panier
    </p>
    <p>
        {{ order_price }}€
    </p>
    <p>
        {{ order.size }}
    </p>
</div>
<div id="remove" itemclass="remove">
    <a href="{% url 'delete_to_cart' order.pk  %}" >
        {% csrf_token %}
        supprimer l'article
</a>
</div>
{% endfor %}
    <a href="{% url 'delete_cart' %}">
        supprimer le panier
    </a>
{% else %}
<div>
    <h1>
        votre panier est vide
    </h1>
</div>
{% endif %}
<p>
    Total: {{ total_price }}€
</p>
<form action="{% url 'create-checkout-session' %}" method="POST">
    {% csrf_token %}
    <button type="submit" id="checkout-button">Checkout</button>
  </form>

{% endblock %}