{% extends 'store/base.html' %}

{% block content %}
    <div class="product-details">
        <div class="top-details">
            <h2>{{ product.name }}</h2>
            <h3>{{ product.price }}€</h3>
            <div class="product-img">
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 650px; max-height: 350px;">
            </div>
            <h3>Description:</h3><br>
            <p>{{ product.description }}.</p>
        </div>
        <!-- boucler pour afficher les pointures disponibles -->
        <div class="right-side">
            <h3>Taille disponible:</h3>
            <div class="all-size">
                {% for size in sizes %}
                    <!-- <button id="{{size}}" class= "button" type="submit" onclick="RequeteAjax()">
                        {{ size }}
                    </button> -->
                    <form action="" method="GET">
                        {% csrf_token %}
                        <input type="button" id="{{size}}" class= "button" value="{{size}}" onclick="RequeteAjax()">
                    </form>
                    
            {% endfor %}
            </div>
        <div class="en-stock">
            <h3>{{ product.stock }} en stock</h3>
        </div>
        {% if user.is_authenticated %}
        <div class="panier">
            <a href="{% url 'add_to_cart' product.slug %}">
                Ajouter dans le panier
            </a>
        </div>  
        {% endif %}
        </div>
    </div>
    
{% endblock %}