@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&display=swap');

*{
    font-family: 'Libre Baskerville', serif;
    margin: 0 auto;
    text-decoration: none;
}

.nav .top{
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav .top a{
    color: whitesmoke;
    transform: none;
}

.nav .top h1{
    text-transform: uppercase;
    text-shadow: 2px 2px;
    margin-right: 30px;
    letter-spacing: 1px;
    color: whitesmoke;
}

.nav .top h2{
    color: whitesmoke;
}

.top-left{
    margin-left: 0%;
}

.top-right{
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    width: 25%;
    flex-wrap: wrap;
}

.top-right a{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 8px;
}

.top-right a:hover{
    border: 1px solid whitesmoke;
    color: black;
    background-color: whitesmoke;
    
}

.all-product{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    margin-top: 10vh;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 8px;
    width: 362px;
    position: relative;
    border: 2px solid white;
    border-radius: 25px;
    margin-bottom: 2vh;
}

.product:hover{
    border: 2px solid black;
}

.product h2{
    margin-bottom: 10px;
    color: black;
    left: 0;
}

.product a{
    margin-top: 15px;
}

.product img{
    margin-top: 9vh;
    margin-bottom: 5vh;
    max-height: 230px;
    width: 346px;
    border: 2px solid black;
    border-radius: 10px;
}

.details{
    position: absolute;
    top: 0;
    padding-left: 15px;
}

footer{
    background-color: black;
    margin-top: 10vh;
    height: 350px;
}

.all{
    display: flex;
    color: whitesmoke;
}

.product-details{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.top-details{
    margin-bottom: 3vh;
}

.product-img img{
    max-width: 650px;
    border: 5px solid black;
    margin-bottom: 3vh;
}

.right-side{
    margin-top: 12px;
    display:grid;
    grid-auto-rows: 115px;
    align-items: center;
    flex-wrap: wrap;
}

.all-size{
    display: flex;
    align-items: center;
}

.size{
    margin-left: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 19px;
}

.en-stock h3{
    font-weight: lighter;
}

.panier{
    background-color: black;
    padding: 8px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}

.panier:hover{
    background-color: whitesmoke;
    color: black;
}

.panier a{
    color: white;
}

.panier a:hover{
    color: black;
}