{% extends 'store/base.html' %}

{% block content %}
<div class="signup">
    <div class="title-signup">
        <h1>Connexion</h1>
    </div>
    <div class="form">
        <form enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            <div class="name">
                <label for="username">Nom d'utilisateur: </label>
                <input type="text" name="username" id="username">
            </div>
            <div class="password">
                <label for="password">Mot de passe: </label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Connexion</button>
        </form>
    </div>
</div>

{% endblock %}